usvao/prototype/vaoregistry/trunk/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="User">
    <xs:annotation>
      <xs:documentation>Schema for Create New User message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="username" type="xs:string"/>
        <xs:element name="password" type="xs:string"/>
        <xs:element name="confirmpassword" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>